@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@font-face{
    font-family: myFont;
    src: url(Ailerons-Typeface.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
}

.bg{
    min-height: 100%;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    z-index: 1;
}

.logo, .menu, .socials{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    font-family: myFont, sans-serif;
    font-size: 60px;
}

.logo img{
    width: 150px;
    padding-top: 1rem;
}

.allheader{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav{
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 14px;
    position: relative;
    letter-spacing: 2px;
    padding: 0 5px;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: #000000;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
    border-radius: 10px;
}

.socials{
    gap: 2rem;
}

.socials a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 100%;
    display: flex;
    padding: 7px;
    transition: 0.3s;
}

.slog{
    margin-top: 10rem;
    width: 100%;
    position: relative;
    height: 400px;
}

.slog h2{
    font-size: 80px;
    font-family: myFont;
    width: 67%;
    padding-left: 10rem;
}

.write{
    font-size: 80px;
    font-family: myFont;
    padding-left: 10rem;
    font-weight: 600;
    border-right: 2px solid black;
    animation: blink 0.7s infinite step-end;
    line-height: 1;
}

.typed-cursor {
    display: none;
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

main{
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-box-shadow: 2px -8px 25px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -8px 25px -3px rgba(0,0,0,0.75);
    box-shadow: 2px -8px 25px -3px rgba(0,0,0,0.75);
    height: auto;
    position: relative;
}

.bg-main{
    width: 100%;
    height: 100%;
    background-image: url(img/dark-abstract-black-minimal-4k-q0-1920x1080.jpg);
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    content: "";
}

.menu-main img{
    width: 90px;
    height: 84.8px;
    border-radius: 4px;
}

.menu-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: 0 7%;
    gap: 4rem;
}

.menu-main a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 2rem 0;
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
}

.menu-main a:nth-child(1){
    border-top-left-radius: 50px;
}

.menu-main a:nth-child(3){
    border-top-right-radius: 50px;
}

main hr{
    margin: 2rem 7%;
}

.items-thumbs, .items-sites {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 5rem; 
    padding: 2rem 0;
    position: relative;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.1);
    padding: 1rem;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    max-height: 700px;
    flex: 1 1 calc(30.33% - 5rem);
    max-width: calc(30.33% - 5rem); 
}

.product img {
    width: 100%; 
    max-height: 650px;
    border-bottom-left-radius: 15px;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.fullsite, .contactme{
    outline: none;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fullsite a:hover{
    background-color: #979797;
}

.contactme a:hover{
    background-color: #ff9f9f;
}

.fullsite a, .contactme a{
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    display: flex;
    width: 450px;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 800;
}

.contactme a{
    margin: auto;
    margin-top: 1rem;
}

.contactme a{
    background-color: #ff6767;
}


footer{
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-box-shadow: 1px -9px 53px -17px rgba(255,255,255,0.3);
    -moz-box-shadow: 1px -9px 53px -17px rgba(255,255,255,0.3);
    box-shadow: 1px -9px 53px -17px rgba(255,255,255,0.3);
    color: white;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    position: relative;
}

.footer-container{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

footer h1{
    font-weight: 700;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    padding-top: 5rem;
}

footer button{
    margin-top: 3rem;
    border: none;
    outline: none;
    padding: 1.4rem 5rem;
    background-color: #474350;
    color: white;
    cursor: pointer;
    font-family: myFont, sans-serif;
    letter-spacing: 10px;
    font-size: 32px;
}

.socials-footer{
    padding-top: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 32px;
}

.socials-footer a{
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    padding: .5rem;
    margin-bottom: 4rem;
    text-decoration: none;
}

footer p{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
}

.socials-footer{
    padding-top: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 32px;
}

.socials-footer a{
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    padding: .5rem;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fadeIn 1s forwards;
}

.popup-content {
    margin: auto;
    border-radius: 10px;
    max-width: 90%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
    animation: fadeIn 1s forwards;
}

#popup-image {
    width: 650px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 29px -11px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 29px -11px rgb(0, 0, 0);
    box-shadow: 0px 0px 29px -11px rgb(0, 0, 0);
}

.popup-content h2{
    padding-top: 1rem;
    font-family: myFont;
    font-size: 48px;
}

.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 15%;
    right: 10%;
}

.close:hover,
.close:focus {
    color: rgb(185, 185, 185);
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product:hover img {
    transform: scale(1.04);
    transition: 1s ease-in-out;
}

.product:hover span{
    opacity: 0;
}

.menu nav a:hover::after{
    width: 100%;
}

.socials a:hover{
    background-color: rgb(65, 65, 65);
    color: #ffffff;
}

.menu-main a:hover{
    background-color: rgb(65, 65, 65);
    transition: .4s;
}

.more:hover{
    background-color: rgb(65, 65, 65);
    transition: .4s;
}

.active{
    background-color: rgb(65, 65, 65, 0.6);
    border: none;
}

.unactive{
    display: none;
}

.activep::after{
    width: 100%;
    height: 2px;
}

.bx-menu{
    display: none;
}

.mobile-logo{
    display: none;
    padding-left: 2rem;
}

.mobile-logo img{
    width: 150px;
}

.menu-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-menu{
    display: none;
    color: black;
    z-index: 1;
    font-size: 32px;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
}

@media screen and (max-width: 768px) {
    header{
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mobile-logo{
        display: block;
        padding-top: 2rem;
    }
    nav{
        display: none;
        width: auto;
        gap: 4rem;
        flex-direction: column;
    }
    nav a{
        color: black;
    }
    .socials{
        display: none;
        width: auto;
    }
    .slog{
        margin-top: 5rem;
        height: 240px;
    }
    .slog h2, .write{
        font-size: 34px;
        padding-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .write{
        width: 10%;
    }
    .menu-main{
        gap: 1.5rem;
        margin-bottom: 2rem;

    }
    .menu-main a{
        padding: 1rem ;
        width: 50%;
        text-align: center;
        margin-top: 0;
        font-size: 18px;
    }
    .menu-main a:nth-child(1){
        border-top-left-radius: 25px;
    }
    
    .menu-main a:nth-child(3){
        border-top-right-radius: 25px;
    }
    .menu-main img{
        width: 60px;
        height: auto;
    }
    main{
        height: auto;
    }
    .items-thumbs, .items-sites{
        padding-top: 1rem;
        gap: 2rem;
    }
    .product img{
        width: 300px;
        height: auto;
    }
    .product{
        max-width: 320px; 
    }
    .popup-content{
        flex-direction: column;
        gap: 1rem;
    }
    .popup-content img{
        margin-top: 2rem; 
    }
    .close{
        top: 1%;
        right: 5%;
    }
    .popup-content h2{
        font-size: 32px;
    }
    .fullsite a, .contactme a{
        width: 350px;
    }
    footer h1{
        font-size: 32px;
        font-weight: 300;
        padding: 0 2rem;
        margin-top: 3rem;
        font-family: "Montserrat";
    }
    .socials-footer a{
        border-radius: 15px;
    }
    .socials-footer a i{
        font-size: 20px;
    }
    .contact button{
        padding: 1rem 3rem;
        font-weight: 400;
        font-family: myFont, sans-serif;
        font-size: 20px;
    }
    .bx-menu{
        font-size: 42px;
        padding-right: 2rem;    
        padding-top: 2rem;
        cursor: pointer;    
        display: block;
    }
    header{
        height: 100%;
        background-color: white;
        position: fixed;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@keyframes bounce {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

.fixedbtn {
    position: fixed;
    background-color: rgb(255, 255, 255);
    bottom: 25px;
    right: 25px;
    padding: 1.4rem;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75);
    animation: bounce 1.3s infinite ease-in-out;
    cursor: pointer;
}

.fixedbtn a i{
    color: rgb(0, 0, 0);
    font-size: 32px;
}
